[core]
	excludesfile = ~/.gitignore_global
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[alias]
	co = checkout
	cob = checkout -b
	f = fetch -p
	c = commit
	p = push
	ba = branch -a
	bd = branch -d
	bD = branch -D
	dc = diff --cached
	st = status -sb
	a = add -p
	plog = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
	tlog = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	rank = shortlog -sn --no-merges
	bdm = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"

[gpg]
	program = /opt/homebrew/bin/gpg

[user]
	signingkey = 88084659C158B15F
	name = Marc Binder
	email = marcandrebinder+pub@gmail.com

[commit]
	gpgSign = true

[tag]
	gpgSign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[git-extras]
	default-branch = master

[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = https://github.com/
